body{
    font-family: monospace;
}
.site-heading-lower{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mb-3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange !important;
}
.notorange{
    color: blue !important;
}
.intro-text{
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5)
}
