body {
    background-color: cornflowerblue;
    color: ivory;
    /*Text color*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: cursive;
    text-align: center;
}

h5 {
    font-family: fantasy;
    color: rgb(218, 218, 218);
    font-style: italic;
    text-align: center;
}

a {
    color: rgb(120, 9, 223);
}

a:visited {
    color: indigo;
}

img {
    border: 2px solid ivory;
    padding: 3px;
    margin: 5px;
    border-style: dotted;
    /*centers the images*/
    /* display: block; 
    margin: auto; */
}

.imgcenter {
    display: block;
    margin: auto;
}
.rizz{
    font-family: cursive;
    color: honeydew;
    border: 2px;
    padding: 3px;
    margin: 5px;
    border-style: dashed;
    border-color: ghostwhite;

}
.rizz:hover{
    border-color: plum;
    font-size: larger;
    font-style: italic;
    border-style: dotted;
}
li{
    text-decoration: overline;
}
